<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>108208997647-1imccplave3qboa0cdqsms542epg0c1g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.108208997647-1imccplave3qboa0cdqsms542epg0c1g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>108208997647-ndk4rpb80fhi6m0s6nq523e2la26kcv8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyASZz0XB2U-EGq7rXNSUWzJf3sFU0b1ijc</string>
	<key>GCM_SENDER_ID</key>
	<string>108208997647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.encro.syi.syi</string>
	<key>PROJECT_ID</key>
	<string>syi-app</string>
	<key>STORAGE_BUCKET</key>
	<string>syi-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108208997647:ios:40bb76ee3f046aa9116a7a</string>
</dict>
</plist>